.contact-form {
    background-image: url(../assets/contact-form.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 630px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 355px;
    gap: 18px;
    height: 100%;
}

input[type="submit"] {
    border: 2px solid var(--secondary-text-color);
    background-color: var(--secondary-text-color);
    border-radius: 1.625rem;
    padding: 10px 20px;
    width: 7.25rem;
    color: var(--primary-text-color);
    font-size: 15px;;
}

form input[type="submit"] {
    align-self: center;
    margin-left: 23px;
}

form label[for="name"],
form label[for="email"],
form label[for="private"],
form label[for="company"]{
    color: black
}

form input[type="text"],
form input[type="email"] {
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
}

@media only screen and (min-width: 1400px) {
    .contact-form {
        margin: auto;
    }
}
