footer {
    display: block;
    background-color: black;
    height: 25%;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-size: 2rem;
}

.svg-container {
    display: flex;
    width: 50%;
    padding-bottom: 35px;
    gap: 23px;
}

.svg-container img {
    padding-top: 13px;
    height: auto;
}

.up-btn {
    height: 35%;
    padding:1em;
    margin: 0 40px;
}

@media only screen and (min-width: 1400px) {
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .svg-container {
        display: flex;
        justify-content: end;
        width: 60%;
        gap: 40px;
    }
}