.hero-heading {
    text-align: center;
    font-size: 4rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-img {
    height: 410px;
    margin-bottom: 0;
}

article p {
    text-align: center;
    padding: 0 33px;
}

@media only screen and (min-width: 1400px) {
    article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: unset;
    }

    article p {
        max-width: 50%;
        margin-left: 30%;
    }

    .content {
        display: flex;
        justify-content: center;
        margin-left: 8%;
        margin-bottom: 0;
    }

    img {
        order: 3;
    }

    .hero-heading {
        margin-top: 10%;
    }
}