/* Fonts */
/* font-family: 'Poppins', sans-serif; */

:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #5bf8f8;
    --primary-font: 'Outfit', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(65deg, #97D5D5, rgba(145, 147, 222, 0.39), rgba(142, 141, 218, 0.68), rgba(226, 139, 147, 0.72), rgba(138, 209, 209, 0.57));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    max-width: 100%;
    overflow-x: hidden;
}

* {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

header {
    height: 10rem;
}

h1 {
    text-align: center;
    margin-top: revert;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 40%;
}

li {
    padding: 1%;
    margin: 3% 10%;
    text-align: center;
}

li, a {
    color: var(--primary-text-color);
    font-size: clamp(-1rem, 1.301rem + 1.942vw, 1rem);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #1B0A41;
}

.cv-download-link::after {
    content: " (View my CV )";
    font-size: 1em;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-30%);
    transition: all 0.7s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* detect user's preference for reduced motion in web animations and transitions. */

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

/* Desktop */
@media only screen and (min-width: 1400px) {
    /* HEADER   */
    h1 {
        /* negative value for my positioning of the h1 */
        text-align: end;
        margin: 5px;
    }

    ul {
        display: flex;
        padding: 0;
    }

    li {
        min-width: 300px;
        margin: 0;
        padding: 0;
    }

    li, a {
        font-size: clamp(2rem, 1.301rem + 1.942vw, 3rem);
    }

    .main-info {
        display: flex;
    }

    .main--right {
        display: flex;
        justify-content: center;
        margin-left: 5%;
    }


    .main--left {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        margin-left: 20%;
    }

    .main-text {
        width: 600px;
        margin-left: 43%;
        margin-top: -230px;
    }

    a:hover {
        color: #1B0A41;
    }
}